.contact {
    background-color: $gray;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 80vh;
    padding: 0 2rem;
    border-bottom: 4px solid $red;

    &__header {
        
        font-size: 6rem;

        @media only screen and (max-width: $bp-smallest){
            font-size: 4rem;
        }
        
    }

    &__links {
        
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 980px;
        margin-top: 4rem;
        flex-wrap: wrap;
        
    }

    

    &__link {
        text-decoration: none;
        margin: 2rem;
        color: $white;
        font-family: $font-display;
        font-size: 2.4rem;
        text-shadow: 2px 2px 1px #1f1f1f;
        transition: transform 0.3s ease-out;

        &:hover {
            transform: translateY(8px);
        }
    }



}