.contact {
    background-color: $gray;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid $red;

    &__header {
        margin-bottom: 4.5rem;
    }

    

    &__link {
        text-decoration: none;
        margin: 2rem;
        color: $white;
        font-family: $font-display;
    }

}