.about {
    background-color: #181719;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 6rem);
    &__header {
        font-family: $font-display;
        font-size: 5rem;
        width: 20ch;
        animation: typing 3s steps(23), blink .1s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
    }

    &__paragraph {
        color: $red;
        font-size: 3rem;
        font-weight: 200;
    }
}

@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    100% {
      border-color: transparent
    }
  }