.projects {
    background-color: $blue;
    padding: 10rem;
    text-align: center;

    @media only screen and (max-width: $bp-medium){
        padding: 5rem;
    }

    &__header {
        margin: 0 auto 6rem auto;
        border-bottom: 0.2rem solid $white;
        width: 50rem;
    }

}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem , 1fr));
    grid-gap: 3rem;
}

.card {
    
    &__img {
        width: 100%;
        display: block;
    }

    &__text {
        background-color: $gray;
        width: 100%;
        padding: 2rem;
        
    }
}